
/* Styling for the personal details section */
h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  /* .education,
.experience {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
} */

  
  p {
    margin-bottom: 5px;
    font-size: 18px;
  }
  
  /* Styling for the education and experience sections */
  .form-group,
  .section-separator,
  .form-elements
  {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 30px;

  }
  
  
  /* Styling for the skills section */
  button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0062cc;
  }

  /* .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
  } */
  .section-separator {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .exp_edu-details {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .exp_edu-details .form-group {
    margin-right: 10px;
  }
  

  section {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
  }
  
  .form-group {
    margin-right: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"], input[type="number"],input[type="email"] {
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  /* button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
  } */
  
  .section-separator {
    margin: 20px 0;
    border-top: 1px solid #ccc;
  }

  .button
  {
    display: inline-block;
    border-radius: 4px;
    background-color: #0a73e7;
    color: #fff;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 24px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    cursor: pointer;
  }

  .newButton{
    margin-right: 10px;
  }

  

  
  
  
  
  
  